<a href="https://colab.research.google.com/github/mdrakibal-amin/pythoncoding01/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("testDB.db")

In [3]:
print(connection.total_changes)

0

In [5]:
cursor = connection.cursor()

In [6]:
sql = "CREATE TABLE studentinfo(name TEXT, id TEXT,dept TEXT,sem TEXT,email TEXT)"
cursor.execute(sql)

In [7]:
print(connection.total_changes)

0

In [8]:
insert= "INSERT INTO studentinfo VALUES('Rashed','12345','CSE','9th','rashed16-19345@diu.edu.bd')"
cursor.execute(insert)

In [9]:
data = "SELECT * FROM studentinfo"
rows = cursor.execute(data)
rows

In [10]:
print(rows)

<sqlite3.Cursor object at 0x7f26d8356dc0>

In [11]:
data = "SELECT * FROM studentinfo"
rows = cursor.execute(data).fetchall()
rows

[('Rashed', '12345', 'CSE', '9th', 'rashed16-19345@diu.edu.bd')]

In [146]:
class SqliteDBOperation:
    def __init__(self):
        pass
    def __db_conn(self,db_name):
        try:
            connection = sqlite3.connect(db_name)
            return connection
        except Exception as e:
            print(e)
    def create(self,table_name):
        try:
            db = self.__db_conn("employee")
            cursor = connection.cursor()
            sql = "CREATE TABLE {}(name TEXT,dept TEXT, id TEXT,email TEXT,salary TEXT)".format(table_name)
            cursor.execute(sql)
            print(table_name + "Table created Successfully")
        except Exception as e:
            print(e)
            
    def insert(self,table_name,name,dept,id,email,salary):
        try:
            db = self.__db_conn("employee")
            cursor = connection.cursor()
#             sql = "INSERT INTO  VALUES('" +table_name+ "','" +name+ "', '" +dept+ "','" +id+ "', '" +email+ "','" +salary+ "')"
            sql = " INSERT INTO emp VALUES ('Nahid',  'CSE',   '145474',   'nahid2456.com',   '30000')"
#             values=  (table_name,  name,  dept,  id,  email,  salary)
            for i in db_obj.read('emp'):
                if i[0] == name and i[1] == dept and i[2] == salary:
                    raise Exception

            cursor.execute(sql)
            print( "Data insert Successfully")
        except Exception as e:
            print(e)
            
    def read(self,table_name):
        try:
            db = self.__db_conn("employee")
            cursor = connection.cursor()
            sql = "SELECT * FROM {} ".format(table_name)
            res = cursor.execute(sql).fetchall()
 #            for i in res:
 #                print( res)
            return(res)
        except Exception as e:
            print(e)
            
    def delete(self,table_name,name,dept):
        try:
            db = self.__db_conn("employee")
            cursor = connection.cursor()
            sql = " DELETE  FROM  "+table_name+" WHERE name= '"+name+"' & dept= '"+dept+"'" 
            cursor.execute(sql)
 #            for i in res:
 #                print( res)
            print(name + "deleted successfully ")
        except Exception as e:
            print(e)

In [147]:
db_obj = SqliteDBOperation()

In [14]:
db_obj.create('emp')

empTable created Successfully

In [95]:
db_obj.insert('emp', 'Milon', 'CSE', '12345', 'milon123.com', '12000')

Data insert Successfully

In [104]:
db_obj.insert( 'emp', 'Raju' , 'CIVIL',   '183121987',   'raju121987.com',   '25000.00' )

Data insert Successfully

In [97]:
db_obj.insert('emp', 'Shakib', 'CSE',  '123456',  'shak234567.com',  '40000')

Data insert Successfully

In [138]:
db_obj.insert('emp', 'Rahat', 'English', '35382', 'raha2345.com',  '30000')

Data insert Successfully

In [105]:
db_obj.read('emp')

[('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000'),
 ('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000'),
 ('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000'),
 ('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000'),
 ('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000'),
 ('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000'),
 ('Nahid', 'English', '145474', 'abcd3.com', '30000'),
 ('Nahid', 'English', '145474', 'abcd3.com', '30000'),
 ('Nahid', 'English', '145474', 'abcd3.com', '30000'),
 ('Nahid', 'CSE', '145474', 'nahid2456.com', '30000'),
 ('Nahid', 'CSE', '145474', 'nahid2456.com', '30000'),
 ('Nahid', 'CSE', '145474', 'nahid2456.com', '30000'),
 ('Nahid', 'CSE', '145474', 'nahid2456.com', '30000'),
 ('Nahid', 'CSE', '145474', 'nahid2456.com', '30000'),
 ('Nahid', 'CSE', '145474', 'nahid2456.com', '30000'),
 ('Nahid', 'CSE', '145474', 'nahid2456.com', '30000'),
 ('Nahid', 'CSE', '145474', 'nahid2456.com', '30000'),
 ('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')]

In [68]:
db_obj.read('emp')[6]

('Nahid', 'English', '145474', 'abcd3.com', '30000')

In [106]:
for i in db_obj.read('emp'):
    print(i)

('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Nahid', 'English', '145474', 'abcd3.com', '30000')
('Nahid', 'English', '145474', 'abcd3.com', '30000')
('Nahid', 'English', '145474', 'abcd3.com', '30000')
('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')
('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')
('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')
('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')
('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')
('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')
('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')
('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')
('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')

In [144]:
db_obj.delete('emp', 'Nahid', 'English')

Nahiddeleted successfully

In [145]:
for i in db_obj.read('emp'):
    print(i)

('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')

In [148]:
for i in db_obj.read('emp'):
    print(i[0])

Rahat
Rahat
Rahat
Rahat
Rahat
Rahat
Nahid

In [149]:
for i in db_obj.read('emp'):
    print(i[2])

1818515671
1818515671
1818515671
1818515671
1818515671
1818515671
145474

In [150]:
for i in db_obj.read('emp'):
    print(i)

('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Rahat', 'EEE', '1818515671', 'abcd3.com', '25000')
('Nahid', 'CSE', '145474', 'nahid2456.com', '30000')